<ion-modal-view class="ion-nifty-modal">
  <ion-header-bar class="bar bar-header control-app">
    <h1 class="title" style="text-align:center;">Registrar salida</h1>
    <button class="button button-primary control-app" ng-click="cerrarSalida()">X</button>
  </ion-header-bar>
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div class="item item-text-wrap">
        <input type="tel" name="montoSalida" ng-model="montoSalida.valor" ui-money-mask="0" min="0" max="{{montoSalida.valorMax}}" class="texto-calculadora">
      </div>
      <div class="item" ion-datetime-picker date ng-model="montoSalida.fecha">
        <span class="input-label center">Fecha</span>
        <strong>{{montoBase.periodoInicial| date: "dd/MM/yyyy"}}</strong>
      </div>
      <div class="item item-text-wrap">
        Actividad
      </div>
      <div class="item item-text-wrap">
        <textarea ng-model="montoSalida.detalle" style="width:100%;" placeholder="Escribe un detalle" maxlength="300"></textarea>
      </div>
      <button class="button button-block control-app" ng-click="agregarSalida()">Registrar</button>
    </ion-content>
  </div>
</ion-modal-view>
