<ion-view view-title="Registrar base">
  <ion-content class="padding">
    <form novalidate name="creacionBase">
          <div class="item item-text-wrap">
            <input type="tel" name="field" ng-model="montoBase.valor" ui-money-mask="0" min="0" class="texto-calculadora" ng-minlength="2">
          </div>
          <div class="item item-input item-select" ng-model="montoBase.periodoInicial">
            <input type="date" ng-model = "montoBase.periodoInicial" ng-required="true">
          </div>
          <div class="item item-input item-select" ng-model="montoBase.periodoInicial">
            <input type="date" ng-model = "montoBase.periodoFinal" ng-required="true">
          </div>
          <button class="button button-block control-app" ng-click="agregarBase()" ng-disabled="creacionBase.$invalid">Registrar</button>
      </form>
  </ion-content>
</ion-view>