<div class="card base-class" on-hold="mostrarDetalleBase()">
  <div class="item item-text-wrap item-avatar item-icon-right"  ng-class="{'estado-base-ok': datosBase.grupoRiesgo == 0, 'estado-base-regular': datosBase.grupoRiesgo == 1, 'estado-base-mal': datosBase.grupoRiesgo == 2}">
    <i class="icon ion-pie-graph"></i>
    Actual.<br/>
    <strong  style="pull-right">${{datosBase.valorRestante}}</strong>
  </div>
  <div class="item item-divider">
    Saldo original: ${{cantidadTotal}}
  </div>
  <div ng-show="datosBase.verDetalle">
    <div class="item item-divider control-entrada">
      Total Entradas: {{datosBase.cantidadEntradas}}
    </div>
    <div class="item item-divider control-salida">
      Total Salidas: {{datosBase.cantidadSalidas}}
    </div>
  </div>
</div>
