<ion-view view-title="Detalle de la actividad">
  <ion-content class="padding">
    <div class="card">
      <div class="item item-divider">
        {{actividad.nombre}}
      </div>
      <div class="item item-text-wrap">
        <b>{{actividad.tipo}}</b>
        <p>{{actividad.descripcion}}</p>
      </div>
      <div class="item item-divider">
        Movimientos
      </div>
      <div class="item item-text-wrap">
        <ion-list>
          <ion-item class="item-icon-left" type="item-text-wrap" ng-repeat='act in actividad.movimientos'>
            <i class="icon ion-ios-plus-outline" ng-if="act.tipo=='E'" ></i>
            <i class="icon ion-ios-minus-outline" ng-if="act.tipo=='S'" ></i>
            <h2>{{act.titulo}}</h2>
            <h3>{{act.fecha}}</h3>
            <p>{{act.descripcion}}</p>
            <b class="texto-calculadora" style="font-size:24px!important;">${{act.monto}}</b>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
