<ion-view view-title="Dashboard" cache-view="false">
  <ion-content class="padding">
    <div class="col-md-12">

      <div class="row">
        <div class="col col-md-12" ng-show="base.id == 0">
          <button class="button button-full button-positive" ng-click="bntAgregarBase()">
            Nueva base
          </button>
        </div>
      </div>

      <bases-dir id-base='base.id' cantidad-total='base.valor_total' fecha-final="base.fecha_final" resumen-base='false' ng-show="base.id != 0"></bases-dir>

      <div class="item" style="border:none;">
        <calendario-diario-dir></calendario-diario-dir>
      </div>

      <movimientos-dir base-id="base.id" ng-show="base.id != 0"></movimientos-dir>

    </div>
  </ion-content>
</ion-view>
