<ion-view view-title="Dashboard" cache-view="false">
  <ion-content class="padding">
    <div class="col-md-12">

      <div class="row">
        <div class="col col-md-12" ng-show="base.id == 0">
          <button class="button button-full button-positive" ng-click="bntAgregarBase()">
            Nueva base
          </button>
        </div>
      </div>

      <div class="item" ng-show="base.id != 0">
        <bases-dir id-base='base.id' cantidad-total='base.valor_total' resumen-base='false'></bases-dir>
      </div>
      <div class="item" style="border:none;">
        <calendario-diario-dir></calendario-diario-dir>
      </div>
      <div class="item" ng-show="base.id != 0">
        <movimientos-dir base-id="base.id"></movimientos-dir>
      </div>
    </div>
  </ion-content>
</ion-view>
