<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-person" menu-toggle="left"></button>
      </ion-nav-buttons>
       <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-plus" ng-click="openPopover($event, 'calm')"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu-content"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="side-menu21">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left side-menu-gradient">
      <div class="spacer" style="width: 268px; height: 32px;"></div>
      <div class="profile-image">
        <img src="img/girl.png" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <h3 id="menu-heading1" style="color:#F0E1E1;font-weight:300;text-align:center;">ClareRodri</h3>
      <div class="spacer" style="width: 268px; height: 18px;"></div>
      <ion-list id="menu-list1" class="side-menu-item">
        <ion-item id="menu-list-item1" ui-sref="app.dash()" menu-close="" class="side-menu-item">DashBoard</ion-item>
        <ion-item id="menu-list-item2" ui-sref="app.resumen()" menu-close="" class="side-menu-item">Historial de movimientos</ion-item>        
        <ion-item id="menu-list-item1" ui-sref="menu.home()" menu-close="" class="side-menu-item">Copia de seguridad</ion-item>
        <ion-item id="menu-list-item2" ui-sref="menu.cart()" menu-close="" class="side-menu-item">About</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
